 <p class="py-3 text-center text-2xl font-bold">
<h2>
    File Details in here
</h2>
</p>
<div>
    <p><span class="font-bold">Name : </span>{{this.files.selectedFile.name}} </p>
    <p><span class="font-bold">Modified : </span> {{this.files.selectedFile.modifiedAt}} </p>
    <p><img src="{{this.files.selectedFile.url}}" /></p>
</div>